* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background:linear-gradient(to right,deeppink,purple);
    color:black;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul h1 {
    margin: 0.15px;
    font-size: 55px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    
}
main{
    padding: 20px;
}

.about-us {
    padding: 30px 20px;
    text-align: center;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

ul li {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.team {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.team-member {
    text-align: center;
}

.team-member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.name {
    font-weight: bold;
    font-size: 1.2rem;
}

.role {
    color: #777;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}

button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: bottom;
    bottom: 10px;
    width: 100%;
}

.message {
    margin-top: 20px;
    color: green;
    font-weight: bold;
}
